$body-color: rgb(165, 177, 179);
$font-color1: rgb(0, 0, 0);

@mixin theme($bg_color: rgba(236, 236, 236, 0.7)) {
    // border: 1px rgb(75, 75, 75) solid;
    border-radius: 10px;
    background-color: $bg_color;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 1rem;
    text-decoration: none;
    color: $font-color1;
    font-family: inherit;
}

body {
    background: $body-color;
    background: linear-gradient(0deg, rgba(179, 179, 198, 1) 0%, rgba(207, 217, 219, 1) 0%, rgb(123, 205, 250) 35%);
    min-width: 100vw;
    min-height: 100vh;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#main_container {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    @include theme;
    padding: 20px;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

    color: $font-color1;
    font-size: 3rem;
    @include theme;
    img {
        height: 3rem;
    }
}

#menu {
    @include theme;
    width: 600px;
    height: 100px;
}

#display {
    @include theme;
    width: 100%;
    height: auto;
    padding: 10px;
}

.card {
    @include theme(rgba(156, 154, 154, 0.7));
    width: 100px;
    height: 100px;
}
